        .mainTableClass{
            background-color: #FAFAFA;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 20px;
			width:100%;
		}

        .rowClass{
			width:100%;
		}

		.columnClass{
			width:50%;
		}

        .centerAdd{
          display: block;
          background-color: #eee;
          margin-left: auto;
          margin-right: auto;
        }

        .formContainerAdd{
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 20px;
            padding-top: 10px;
            width:100%;
            border-radius: 4px;
            border: 1px solid #ccc;
        	background-color: #FAFAFA;
        }

        .formClass{
			display: block;
		}

        .inputClass{
			margin-top:5px;
			margin-bottom: 5px;
			background-color: #fff;
			font-size: 14px;
			padding: 6px;
			border-radius: 4px;
			border: 1px solid #ccc;
			width: 100%;
			height: 34px;
		}

		.inputButton{
		    color: #fff;
			background-color: #286090;
			border-color: #204d74;
			cursor: pointer;
			display: inline-block;
			padding: 6px 12px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		.menuItem{
		    margin-bottom: 10px;
		    margin-top: 10px;
		}

        .titleClass{
			padding-bottom: 10px;
			font-size: 30px;
			font-family: inherit;
			font-weight: 500;
		}
        .textCenter{
			text-align: center;
		}

        .formContainer{
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 20px;
			padding-top: 10px;
			width:50%;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #FAFAFA;
		}

        .center{
			margin: 0 auto;
		}

        .listElementContainer{
		    margin-top: 10px;
		    margin-bottom: 10px;
		}

		.listElementContainer:hover {
		    cursor: pointer;
            background-color: #B9B9B9;
        }

        .menuPanel{
            margin-top: 10px;
            margin-bottom:25px;
		}

        .tableAddOrder{
		    margin-left: 15px;
		}