<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>

<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createRestaurant';" value="Restaurants Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createSupplier';" value="Suppliers Panel"/>
            </div>
        </td>
    </tr>
</table>

<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Restaurants panel</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">List of Restaurants</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass centerAdd">
            <div class="formContainerAdd">
                <form class="formClass center" action="#" th:action="@{/createRestaurant}" th:object="${newRestaurant}" method="post"
                      xmlns="http://www.w3.org/1999/html">
                    <div class="textCenter">
                        <h3 class="titleClass"> New Restaurant</h3>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="city" name="city" placeholder="City" th:field="*{city}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="street" name="street" placeholder="Street" th:field="*{street}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="streetNumber" name="streetNumber" placeholder="Street number" th:field="*{streetNumber}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" th:field="*{phoneNumber}"/>
                    </div>

                    <div class="textCenter">
                        <input class="inputButton" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </td>
        <td class="columnClass">
            <div th:each="restaurant : ${restaurantsList}">
                <form  class="textCenter" th:id="${newRestaurant.id}" action="#" th:action="@{/chooseRestaurant}" th:object="${restaurant}" method="post" xmlns="http://www.w3.org/1999/html">
                    <input  style="display:none" type="text" name="id" th:id="${restaurant.id}" th:value="${restaurant.id}"/>
                    <button type="submit"  class="formContainer center listElementContainer">
                        <p class="titleClass textCenter" th:text="${restaurant.name}"></p>
                        <table class="center">
                            <tr>
                                <td>City:</td>
                                <td th:text="${restaurant.city}"></td>
                            </tr>
                            <tr>
                                <td>Street:</td>
                                <td th:text="${restaurant.street} + ' ' + ${restaurant.streetNumber}"></td>
                            </tr>
                            <tr>
                                <td>Phone numbers:</td>
                                <td th:text="${restaurant.phoneNumber}"></td>
                            </tr>
                        </table>
                    </button>
                </form>
            </div>
        </td>
    </tr>
</table>

</body>

</html>