<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>

<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createRestaurant';" value="Restaurants Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createSupplier';" value="Suppliers Panel"/>
            </div>
        </td>
    </tr>
</table>

<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Suppliers panel</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">List of Suppliers</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass centerAdd">
            <div class="formContainerAdd">
                <form class="formClass center" action="#" th:action="@{/createSupplier}" th:object="${newSupplier}" method="post"
                      xmlns="http://www.w3.org/1999/html">
                    <div class="textCenter">
                        <h3 class="titleClass"> New Supplier</h3>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="surname" name="surname" placeholder="Surname" th:field="*{surname}"/>
                    </div>
                    <div>
                        <input class="inputClass" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone number" th:field="*{phoneNumber}"/>
                    </div>
                    <div class="textCenter">
                        <input class="inputButton" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </td>
        <td class="columnClass">
            <div th:each="supplier : ${suppliersList}">
                <div  class="textCenter" >
                    <button type="submit"  class="formContainer center listElementContainer">
                        <p class="titleClass textCenter" th:text="${supplier.name} + ' ' + ${supplier.surname}"></p>
                        <table class="center">
                            <tr>
                                <td>Phone numbers:</td>
                                <td th:text="${supplier.phoneNumber}"></td>
                            </tr>
                        </table>
                    </button>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>

</html>