<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>

<table class="mainTableClass menuPanel">
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createRestaurant';" value="Restaurants Panel"/>
            </div>
        </td>
        <td class="columnClass">
            <div class="textCenter">
                <input class="inputButton menuItem" type="submit" onclick="location.href='/createSupplier';" value="Suppliers Panel"/>
            </div>
        </td>
    </tr>
</table>

<table class="mainTableClass">
    <tr class="rowClass">
        <th class="columnClass">
            <p class="titleClass textCenter">Current Restaurant</p>
        </th>
        <th class="columnClass">
            <p class="titleClass textCenter">Orders list for this Restaurant</p>
        </th>
    </tr>
    <tr class="rowClass">
        <td class="columnClass">
            <div class="textCenter">
                <div class="formContainer center listElementContainer">
                    <p class="titleClass textCenter" th:text="${restaurant.name}"></p>
                    <table class="center">
                        <tr>
                            <td>City:</td>
                            <td th:text="${restaurant.city}"></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td th:text="${restaurant.street} + ' ' + ${restaurant.streetNumber}"></td>
                        </tr>
                        <tr>
                            <td>Phone number:</td>
                            <td th:text="${restaurant.phoneNumber}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="textCenter">
                <div class="formContainer center listElementContainer">
                    <form class="formClass center" action="#" th:action="@{/createOrder}" th:object="${orderProxy}" method="post"
                          xmlns="http://www.w3.org/1999/html">
                        <input  style="display:none" type="text" name="restaurantId" id="setValue" th:value="${restaurant.id}"/>
                        <p class="titleClass textCenter">New order</p>
                        <table>
                            <tr>
                                <td>Name: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Price: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="price" name="price" placeholder="Price" th:field="*{price}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Ready in: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="orderReadyIn" name="orderReadyIn" placeholder="Ready in" th:field="*{orderReadyIn}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Client city: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="clientAddressCity" name="clientAddressCity" placeholder="City" th:field="*{clientAddressCity}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Client street: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="clientAddressStreet" name="clientAddressStreet" placeholder="Street" th:field="*{clientAddressStreet}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Client number: </td>
                                <td>
                                    <input class="tableAddOrder inputClass" type="text" id="clientAddressStreetNumber" name="clientAddressStreetNumber" placeholder="Street number" th:field="*{clientAddressStreetNumber}"/>
                                </td>
                            </tr>
                        </table>
                        <div class="textCenter">
                            <input class="inputButton" type="submit" value="Add"/>
                        </div>
                    </form>
                </div>
            </div>

        </td>
        <td>
            <!--<div th:each="order : ${ordersList}">
                <div  class="textCenter" >
                    <button type="submit"  class="formContainer center listElementContainer">
                        <table class="center">
                            <tr>
                                <td>Theatre:</td>
                                <td th:text="${performance.theatre.name}"></td>
                            </tr>
                            <tr>
                                <td>Play:</td>
                                <td th:text="${performance.play.name}"></td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td th:text="${performance.date}"></td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td th:text="${performance.time}"></td>
                            </tr>
                        </table>
                    </button>
                </div>
            </div>-->
        </td>
    </tr>
</table>

</body>
</html>


